* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* border: solid red; */
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  font-size: 120%;
}

.card {
  background: #190505d0;
  color: white;
  padding: 2em;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  margin: 1em;
  height: auto;
}

@media only screen and (max-width: 580px) {
  .card {
    background: #190505d0;
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    margin: 1em;
    height: auto;
    margin-top: 20rem;
  }
}
@media only screen and (max-width: 770px) and (min-width: 581px) {
  .card {
    background: #190505d0;
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    margin: 1em;
    height: auto;
    margin-top: 20rem;
  }
}

.future {
  background: #190505d0;
  color: white;
  padding: 1em;
  border-radius: 30px;
}
.forecast {
  padding: 1px 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100%);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}
